# Asynchronous File I/O
aiofiles==23.2.1

# Web Framework
fastapi==0.111.0
uvicorn==0.29.0
python-multipart==0.0.9
python-dotenv==1.0.1

# CDR / MIME Dependencies
pikepdf==8.15.1
httpx==0.27.0
vt-py==0.19.0
yara-python==4.5.1
pymupdf==1.24.1

# python-magic requires OS-specific dependencies
# For Linux/Mac (Requires libmagic to be installed on the system)
python-magic==0.4.27 ; sys_platform != 'win32'
# For Windows (Bundles the libmagic DLLs)
python-magic-bin==0.4.14 ; sys_platform == 'win32'
